@model CineAnimeWeb.Models.DiretorEstudio

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="mb-3">
    <label asp-for="Nome" class="form-label"></label>
    <input asp-for="Nome" class="form-control" />
    <span asp-validation-for="Nome" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Pais" class="form-label"></label>
    <input asp-for="Pais" class="form-control" />
    <span asp-validation-for="Pais" class="text-danger"></span>
</div>
