@model CineAnimeWeb.Models.DiretorEstudio

@{
    ViewData["Title"] = "Cadastrar diretor/estudio";
}

<h1>Cadastrar diretor/estudio</h1>

<form asp-action="Create" method="post">
    <partial name="_Form" model="Model" />
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a class="btn btn-outline-secondary" asp-action="Index">Voltar</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
